@media screen and (max-width:540px) {


  .vertical-nav{
    width: 100px;
  }

  .main{
    width: 100%;
  }

  .horizontal-nav{
    width: 90%;
  }

  .section1{
    display: none;
  }
  .section2{
    display: none;
  }
  .section3{
    display: none;
  }
  .section4{
    display: none;
  }
  .section5{
    display: none;
  }

  .loghi-xs{
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loghi-xs a i{
    color: #A3A3A3;
    font-size: 27px;
    margin-bottom: 10px;
  }

  .loghi-xs img:hover{
  border: 1px solid white;
  padding: 5px;
  border-radius: 100%;

  }

  .loghi-xs a i:hover{
    font-size: 31px;
    color: white;
  }

  /* parte sinistra footer */
  .container-text-sinister p{
    color: #A3A3A3;
    font-size: 6px;
  }

  .container-text-sinister h3{
    font-size: 8px;
  }

  .container-icons a i{
    margin-left: 2px;
    font-size: 12px;
  }

  .container-icons{
    display: flex;
    flex-direction: column;
  }

  .container-immagine-footer{
    width: 30px;
    height: 30px;
    /* debug */
    /* background-color: yellow; */
  }

  /* hover */
  .container-text-sinister h3:hover{
    font-size: 8px;
  }

  .container-text-sinister p:hover{
    color: white;
  }
  .container-icons a i:hover{
    font-size: 14px;
    color: white;

  }



  /* parte centrale footer */
  .container-up a i{
    color: #A3A3A3;
    margin: 2px 2px;
    font-size: 13px;

  }

  .container-down p a{
    color: #A3A3A3;
    text-decoration: none;
    font-size: 11px;

  }

  .barra{
    height: 5px;
    width: 25%;
    background-color:#A3A3A3;
    margin: 0 2px;
  }

  .pallino{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    bottom: 4px;
    right: 44%;
    display: none;
  }

  /* hover */

  .container-up a i:hover{
    font-size: 16px;
    color: white;
  }

  .container-down p a:hover{
    font-size: 13px;
    color: white;
  }


  /* parte destra footer */
  .container-right-footer i{
    color: #A3A3A3;
    margin-right: 2px;
    font-size: 10px;

  }

  .barra-xs{
    margin: 0 2px;

  }

  .pallino-xs{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    bottom: -2px;
    left: 29%;
    display: none;
  }

  /* hover */
  .container-right-footer i:hover{
    color: white;
    font-size: 11px;
  }

}



@media screen and (max-width:860px) {

  /* parte sinistra footer */
  .container-text-sinister p{
    color: #A3A3A3;
    font-size: 9px;
    margin-left: 3px;
  }

  .container-text-sinister h3{
    font-size: 12px;
    margin-left: 3px;
  }

  .container-icons a i{

    margin-left: 3px;


  }

  .container-icons{
    display: flex;
    flex-direction: column;
  }



  /* parte centrale footer */
  .container-up a i{
    color: #A3A3A3;
    margin: 2px 5px;

  }

  .container-down p a{
    color: #A3A3A3;
    text-decoration: none;
    font-size: 13px;

  }

  .barra{
    height: 5px;
    width: 25%;
    background-color:#A3A3A3;
    margin: 0 5px;
  }



  /* parte destra footer */
  .container-right-footer i{
    color: #A3A3A3;
    margin-right: 2px;

  }
  .barra-xs{
    margin: 0 2px;
  }

}
