@media screen and (max-width:768px) {
  .horizontal-nav{
    width: 90%;
  }

  .vertical-nav{
    width: 10%;
  }

  .main{
    width: 90%;
  }

  .listato-vertical-nav{
    display: none;
  }

  .vertical-nav .logo{
    display: none;
  }

  .mediaquery-xs{
    display: block;

  }

  .mediaquery-xs .logo-small  {
    width: 50%;
    display: block;
    margin: 10px auto;

  }

  .mediaquery-xs .fas{
    color: #A3A3A3;
    display:block;
    text-align: center;
    margin-bottom:10px;
  }

  .mediaquery-xs a{
    text-decoration: none;
  }



}

@media screen and (min-width:1px) and (max-width:767px){
  .mediaquery-xs .logo-small  {
    width: 90%;
    display: block;
    margin: 10px auto;
  }

  .box{
    min-width: 250px;

  }

  .box p{
    margin-bottom: 20px;
  }


}
