*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* header and main*/

.flex-header{
  display: flex;
}


.horizontal-nav{
  height: 70px;
  width: 100%;
  background-color: #2F3436;
  padding: 0;

}

.vertical-nav{
  height: calc(100vh - 90px );   /* altezza data da 100vh -90 px del footer */
  width: 250px;
  background-color: #000000;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

/* main */
.main{
  width: calc(100% - 250px);
  height: calc(100vh - 90px );  /* altezza main 100vh (viewport) - 15vh (footer)*/
  overflow: auto;  /* altezza è uguale a quella del main  */
  background-color: #141922;

}


/* Vertical nav */
/* listato generale */
ul li {
  padding-left: 20px;
}

ul li a{
  text-decoration: none;
  color: #A3A3A3;
}

.section1{
  flex-basis: 10%;
  /* debug */
  /* background-color: red; */

}

.section2{
  flex-basis: 10%;
  /* debug */
  /* background-color: yellow; */

}

.section3{
  flex-basis: 10%;
  /* debug */
  /* background-color: green; */
}

.section4{
   min-height: 80px;  /* altezza minima affinchè si restringa la section4   */
  flex-grow: 1;
  overflow: auto;   /* scrool  */
  /* debug */
  /* background-color: lightblue; */
}

.section5{
  flex-basis: 10%;
  /* debug */
  /* background-color: brown; */

}

.loghi-xs{
  display: none;
}

.vertical-nav img{
  width: 50%;
  margin: 10px 20px ;
  position: relative;
}

/* First list */
.home-search-library .fas{
  font-size: 20px;
  margin-right: 10px;
}


/* Second list */
.playlist  a{
  font-size: 18px;
  color: white;
  font-weight: bold;

}

ul li{
  margin-bottom: 20px;
  font-size: 10px;
  list-style: none;
}

.fa-plus-square{
font-size: 35px;
}

/* Third list */
.install-app{
  border-bottom: 1px solid #A3A3A3;
  font-size: 14px;

}

.install-app a i{
  margin-right: 25px;
  padding-top: 10px;
}

.circle a i{
  margin-right: 10px;
}


.circle .fa-user-circle{
  color: white;
  font-size: 30px;

}

.vertical-nav ul li:hover{
  border-left: 2px solid orange;

}

.vertical-nav ul li a:hover{
  color: white;
}




main{
  position: relative;
}

/* horizontal nav */
.horizontal-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  width: calc(100% - 250px);
  opacity: 0.5;
  z-index: 999;       /* z-index */


}

.horizontal-nav span{
  font-size: 12px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 50px;
}

.horizontal-nav span a{
  color: white;
  text-decoration: none;
}

.horizontal-nav span:hover{
  font-size: 15px;
}



/* listato main */
.listato-main{
  margin-top: 70px;
  display: flex;
  justify-content: center;    /* per il listato main  */
  /* debug */
  /* border: 1px solid white; */
}

.listato-main ul li{
  display: inline-block;
  margin-top: 10px;
  align-self: flex-end;

}

.listato-main ul li a{
  font-size: 13px;
}

.listato-main ul li a:hover{
  border-bottom: 3px solid orange;

}

/* title */
.title{
  color: white;
  margin: 30px 0;
  padding-left: 20px;
}

.title p{
  color:#A3A3A3;
  font-size: 11px;
}

/* image */
.music{
  display: flex;
  flex-wrap: wrap;
  min-height: 160px;
  margin-left: 20px;
  /* debug */
   /* border: 1px solid green; */
}

.box{
  width: calc(85% / 6);
  margin-right: 15px;
  min-width: 140px;  /* larghezza minima per andare a capo  */
  /* debug */
   /* background-color: orange; */
  /* border: 1px solid white */
}


.box img{
  width: 100%;

}

.box h3{
  color: white;
  font-size: 13px;
  text-align: center;
  margin: 25px 0;
}

.box p{
  color:#A3A3A3;
  font-size: 11px;
  text-align: center;
}

.box a{
  text-decoration: none;
}

.radius a img{
  border-radius: 100%;

}

/* hover PLAY */
.box{
  position: relative;
}

.content-play i{
  font-size: 60px;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;


}

.box:hover i{
  display: block;
}

.box img:hover{
  opacity: 0.5;
  width: 105%;
}




/* inizio footer */
footer{
  background-color: #282828;
  height: 90px;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


/* parte destra footer */
.left-footer{
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* debug */
  /* background-color: green; */
}

/* contenitore immagine footer */
.container-immagine-footer{
  width: 60px;
  height: 60px;
  /* debug */
  /* background-color: yellow; */
}

.container-immagine-footer img {
  width: 100%;

}

/* contenitore text-sinister */
.container-text-sinister{
  display: flex;
  justify-content: center;
  align-items: center;
  /* debug */
  /* width: 110px;
  height: 60px;
  background-color: green;*/
}

.container-text-sinister a{
  color:white;
  text-decoration: none;
}


.container-text-sinister p{
  color: #A3A3A3;
  font-size: 15px;
}

/* contenitore icons */
.container-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  /* debug */
  /* width: 60px;
  height: 60px;
  background-color: lightblue;*/
}

.container-icons a i{
  margin-right: 10px;
  color: #A3A3A3;
}

/* hover */
.container-text-sinister h3:hover{
  font-size: 20px;
}

.container-text-sinister p:hover{
  color: white;
}

.container-icons a i:hover{
  font-size: 20px;
  color: white;

}


/* parte centrale footer */

.container-central-footer{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* debug */
  /* background-color: yellow; */
}

/* container-up */
.container-up{
  display: flex;
  justify-content: center;
  align-items: center;
  /* debug */
  /* width: 500px;
  height: 35px;
  background-color: red;*/

}

.container-up a{
  text-decoration: none;

}

.container-up a i{
  color: #A3A3A3;
  margin: 10px 15px;
  font-size: 20px;
}

/* hover */
.container-up a i:hover{
  font-size: 27px;
  color: white;
}

/* container-down */
.container-down{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 /* debug */
  /* height: 35px;*/
  /* background-color: green; */
}


.container-down p a{
  color: #A3A3A3;
  text-decoration: none;

}

.barra{
  height: 5px;
  width: 45%;
  background-color:#A3A3A3;
  border-radius: 30px;;
  margin: 0 10px;


}

.barracolorata-white{
  height: 5px;
  width: 60%;
  background-color: white;
  border-radius: 30px;
}

.barracolorata{
  height: 5px;
  width: 100%;
  background-color: orange;
  border-radius: 30px;
  display: none;

}

.pallino{
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  bottom: 1px;
  right: 44%;
  display: none;
}

/* hover */
.container-down p a:hover{
  font-size: 19px;
  color: white;
}


.barra:hover .barracolorata{
  display: block;
}

.barra:hover .pallino{
  display: block;
}



/* parte destra footer */
.container-right-footer{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* debug */
    /* background-color: green; */

}

.barra-xs{
  height: 5px;
  width: 30%;
  background-color:#A3A3A3;
  border-radius: 30px;
  margin: 0 10px;
  position: relative;

}

.barracolorata-xs-white{
  background-color: white;
  width: 30%;
  height: 5px;
  border-radius: 30px;
}

.barracolorata-xs{
  height: 5px;
  width: 100%;
  background-color: orange;
  border-radius: 30px;
  display: none;


}

.pallino-xs{
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  bottom: -6px;
  left: 29%;
  display: none;
}

.container-right-footer i{
  color: #A3A3A3;
  margin-right: 20px;

}

.container-right-footer a{
  text-decoration: none;
}

/* hover */
.container-right-footer i:hover{
  color: white;
  font-size: 20px;
}


.barra-xs:hover .barracolorata-xs{
  display: block;
}

.barra-xs:hover .pallino-xs{
  display: block;
}



/* mediaquery 780px xs */
.mediaquery-xs{
  display:none ;
}
