*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* header and main*/
header{
position: relative;
}

.flex-header{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}


.horizontal-nav{
  height: 70px;
  width: 80%;
  /* debug */
  background-color: red;

}

.vertical-nav{
  height: 85vh;
  width: 20%;
  padding: 0 5px;
  /* debug */
  background-color: #000000;
}

.vertical-nav img{
  width: 50%;
  margin: 10px 20px ;
  position: relative;
}

/* main */
.main{
  width: 80%;
  height: calc(100vh - 15vh - 70px );  /* calcolo per overflow= 100vh (viewport) - 15vh (footer) -100px (nav-horizontal) */
  overflow: auto;
  position: absolute;
  top:70px;
  padding: 0 10px;

}



/* listato generale */
ul li {
  padding-left: 20px;
}

ul li a{
  text-decoration: none;
  color: #A3A3A3;
}

/* First list */
.home-search-library .fas{
  font-size: 20px;
  margin-right: 10px;
}

.home-search-library{
  margin-bottom: 20px;
}

/* Second list */
.playlist  a{
  font-size: 18px;
  color: white;
  font-weight: bold;

}

ul li{
  margin-bottom: 20px;
  font-size: 10px;
  list-style: none;
}

.listato-vertical-nav .fa-plus-square{
font-size: 35px;
margin-right: 10px;
margin-bottom: 10px;

}

/* Third list */
.install-app{
  border-bottom: 1px solid #A3A3A3;
  width: 17%;
  position: absolute;
  bottom:40px;
  font-size: 14px;
}

.install-app a i{
  margin-right: 25px
}

.absolute a i{
  margin-right: 10px
}


.absolute .fa-user-circle{
  color: white;
  font-size: 30px;

}

.absolute{
  position: absolute;
  bottom:0;
  font-size: 15px;
}


ul li:hover{
  border-left: 2px solid orange;
}


/* inizio footer */
.footer{
  height: 15vh;
  /* debug */
  background-color:blue;


}


.position-fixed{
  position: fixed;
  bottom: 0;
  height: 15vh;
  width: 100%;
}



/* mediaquery 780px xs */
.mediaquery-xs{
  display:none ;
}
